

body{
    background-color:coral;
    color: beige;
    height: 110%;
}

#container #header h1{
    font-size:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:50%; 
}
img{
    width:25%;
    height:20%;
    margin-left: 20%;
    border-color:2px solid #FF6A3D;
}
.p1,.p2,.p3,.p4,.p5{  
    width: 100%;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    margin-left:80%; 
    margin-top:30%;
}
